body{
    padding: 0;
    margin: 0;
    background-color: rgb(102, 102, 102);
}
#div2{
    /* font-size: 30px;
    font-weight: bold;
    background-color: rgb(56, 54, 54); */
    border-radius: 20px 20px 0 0; 
    /* border: 2px solid rgb(255, 255, 255); */
    height: 20%;
    padding: 10px;
    color: white;
    /* float: right; */
}
#div2 #he3{
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    padding: 0;
    /* border:1px solid rgb(121, 115, 115); */
    height: 20px;
    overflow-x:auto;
}
#div2 #he4{
    text-align: right;
    font-size: 25px;
    width: 100%;
    margin: 0;
    padding: 0;
    /* margin-top: 5px; */
    /* border:1px solid rgb(121, 115, 115); */
    font-size:35px;
    overflow-x:auto;
    height: 40px;

}
/* #div2 h4::-webkit-scrollbar {
    display: none; */
#div1{
    width: 275px;
    height: 450px;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
    /* margin-top: 100px; */
    background-color: black;
    padding: 7px;
}
ul{
    list-style-type: none;
    border: 1px solid black;
    padding: 0;
    margin: 0px;
}
.li1{
    background-color: rgb(145, 144, 144);
}
.li2{
    background-color: rgb(56, 54, 54);
}
.li3{
    background-color: orange;   
}
ul li{

    display: inline-block;
    border-left: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    border: 1px solid black;
    align-content: center;
    /* font-weight: bold; */
    color: white;
    background-color: rgb(145, 144, 144);
    cursor: pointer;
    margin: 1.5px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 0px; */
}
ul .li2:hover{
    background-color: rgb(156, 156, 156);
}
ul .li1:hover{
    background-color: rgb(88, 87, 87);
}
ul .li3:hover{
    background-color: rgb(203, 133, 3);
}
